<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h2>Edit Listing</h2>
    <form action="/listing/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
      
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" class="form-control" value="<%= listing.title %>" required>
         <div class="valid-feedback">
      Title Looks good!
    </div>
    <div class="invalid-feedback">
      keep a Title!
    </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" name="listing[description]" value="<%= listing.description %>" class="form-control" required>
          <div class="invalid-feedback">
      please enter a short description!
    </div>  
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input type="text" class="form-control" name="listing[image][url]" value="<%= listing.image.url %>" required>
      </div>

      <div class="row">
        <div class="mb-3 col-4">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" name="listing[price]" value="<%= listing.price %>" required>
           <div class="invalid-feedback">
      please enter a valid price!
    </div>
        </div>
        <div class="mb-3 col-6">
          <label for="location" class="form-label">Location</label>
          <input type="text" class="form-control" name="listing[location]" value="<%= listing.location %>" required>
           <div class="invalid-feedback">
      please enter a valid!
    </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" name="listing[country]" value="<%= listing.country %>" required>
        <div class="invalid-feedback">
      please enter country name!
    </div>  
      </div>

      <button type="submit" class="btn btn-danger">Edit details</button>
    </form>
  </div>
</div>
<script src="/js/script.js"></script>